<header>
  <div>
    <img src="../../../assets/svg/logo.svg" alt="">
  </div>
  <div class="bt">
    <button class="bt-topic">{{ topicBtnText }}</button>
  </div>
</header>

<main>
  <div class="texts">
    <h1 class="text-h1">Sua opinião importa!</h1>
    <p class="text-p">Participe da votação e faça sua voz ser ouvida.</p>
  </div>

  <article class="card">
      <div class="info">
        <div class="details">
          <h3 class="h3-">{{ sessionNome }}</h3>
          <p class="descricao">{{ sessionDescription }}</p>
          <p>{{ sessionVotos }} Votos</p>
        </div>
      </div>
      <div class="stats">
        <button class="bt-vote"> {{ btVote }}</button>
      </div>
  </article>
</main>


<div class="bt-session-people">
  <div>
    <button class="bt-session">Nova sessão</button>
  </div>
  <img class="img-people" src="../../../assets/svg/people.svg" alt="Pessoas">
</div>

<footer>Desenvolvido por Larissa Sarapio</footer>
