<header>
  <div>
    <img src="../../../assets/svg/logo.svg" alt="">
  </div>
  <div class="bt">
    <button class="bt-topic">{{ topicBtnText }}</button>
  </div>
</header>

<main>
  <div class="card">
      <div class="info">
        <div class="details">
          <h3>{{ sessionNome }}</h3>
          <p class="descricao">{{ sessionDescription }}</p>
          <p>{{ sessionVotos }} Votos</p>
        </div>
      </div>
      <div class="stats">
        <button class="bt-vote"> {{ btVote }}</button>
      </div>
    </div>
</main>

<button></button>
<footer>Desenvolvido por Larissa Sarapio</footer>
